{
    parserOptions: {
        ecmaVersion: 6,
        sourceType: 'module'
    },
    plugins: [
        immutable
    ],
    rules: {
        immutable/no-let: 2,
        immutable/no-this: 2,
        immutable/no-mutation: 2
    }
}
